.idea
/src/main/resources/nowy.xml
/src/main/resources/najnowszy.xml
/src/main/resources/nowy_zle_id.xml
/src/main/resources/stary.xml
/src/main/resources/skrocone.xml
/src/main/resources/ahmed.xml
/src/main/resources/ahmedWynik.xml
/src/main/resources/noweBezDubli.xml
/src/main/resources/testowy.xml
